$desktop: 1279.98px;
$tablet: 767.98px;
$mobile: 539.98px;
$container: 1440px;

$breakpoint-desktop: "(max-width: #{$desktop})";
$breakpoint-tablet: "(max-width: #{$tablet})";
$breakpoint-mobile: "(max-width: #{$mobile})";

$primary-color: #000000;
$secondary-color: #ffffff;
$accent-color: #f09830;

$bg-color: #333333;

$bg-gradient: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.1));

$btn-gradient: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.8));

$font-family-base: "Inter", sans-serif;
$font-family-alt: "Montserrat", sans-serif;
$font-family-italic: "Roboto", sans-serif;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-size-base: 18px;
$font-size-hero-title: 72px;
$font-size-title: 44px;
$font-size-subtitle: 24px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
.container {
  max-width: $container;
  margin: 0 auto;
  padding: 0 16px;
  @media ($breakpoint-tablet) {
    max-width: 100%;
  }
}
.p-section {
  padding-top: 72px;
  @media ($breakpoint-tablet) {
    padding-top: 50px;
  }
  @media ($breakpoint-mobile) {
    padding-top: 32px;
  }
}
.m-section {
  margin-bottom: 72px;
  @media ($breakpoint-tablet) {
    margin-bottom: 50px;
  }
  @media ($breakpoint-mobile) {
    margin-bottom: 32px;
  }
}
.center {
  text-align: center;
}
.hero-title {
  font-size: $font-size-hero-title;
  color: $secondary-color;
  font-weight: $font-weight-bold;
  font-family: $font-family-alt;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  text-shadow: $accent-color 2px 2px 4px;
  margin-bottom: 32px;
  @media ($breakpoint-tablet) {
    font-size: $font-size-title;
  }
  @media ($breakpoint-mobile) {
    letter-spacing: normal;
  }
  @media (max-width: 479.98px) {
    font-size: 32px;
  }
  & span {
    @media ($breakpoint-tablet) {
      font-size: $font-size-title;
    }
    @media ($breakpoint-mobile) {
      letter-spacing: normal;
    }
    @media (max-width: 479.98px) {
      font-size: 32px;
    }
  }
}
.title {
  font-size: $font-size-title;
  font-weight: $font-weight-bold;
  color: $primary-color;
  font-family: $font-family-alt;
  @media ($breakpoint-tablet) {
    font-size: 32px;
  }
}
.subtitle {
  font-size: $font-size-subtitle;
  font-weight: $font-weight-bold;
  color: $secondary-color;
  font-family: $font-family-alt;
  margin-bottom: 50px;
  @media ($breakpoint-tablet) {
    margin-bottom: 32px;
  }
}
