$desktop: 1440px;
$tablet: 768px;
$mobile: 540px;

$breakpoint-desktop: "(max-width: #{$desktop})";
$breakpoint-tablet: "(max-width: #{$tablet})";
$breakpoint-mobile: "(max-width: #{$mobile})";

$primary-color: #000000;
$secondary-color: #ffffff;
$accent-color: #f09830;

$bg-color: #333333;

$card-gradient: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5));
$btn-gradient: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5));

$font-family-base: "Inter", sans-serif;
$font-family-alt: "Montserrat", sans-serif;
$font-family-italic: "Roboto", sans-serif;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-size-base: 18px;
$font-size-hero-title: 72px;
$font-size-title: 44px;
$font-size-subtitle: 24px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}

.hero-title {
  font-size: $font-size-hero-title;
  color: $secondary-color;
  font-weight: $font-weight-bold;
  font-family: $font-family-alt;
  text-transform: uppercase;
  text-shadow: $accent-color 2px 2px 4px;
  @media ($breakpoint-tablet){
  font-size: $font-size-title;
  }
}
.title {
  font-size: $font-size-title;
  font-weight: $font-weight-bold;
  color: $primary-color;
  font-family: $font-family-alt;
  @media ($breakpoint-tablet){
  font-size: 32px; 
  }
}
.subtitle {
  font-size: $font-size-subtitle;
  font-weight: $font-weight-bold;
  color: $secondary-color;
  font-family: $font-family-alt;
}
